@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
body{
    background-color:rgba(129, 162, 247,0.8);
    color: rgba(0,0,0,1);
}
header#cabecalho{
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	margin: 40px auto 0px auto;
	background-color: white;
	padding: 7px 7px 7px 7px;
	box-shadow: 1px 1px 4px black;
	
}
header#cabecalho h3{
	position:static;
	margin-bottom: 0px;

}

div#interface{
	width: 900px;
	background-color: #ffffff;
	margin: 40px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	padding: 100px 400px 200px 200px;
	display: flex;
	justify-content: center;
	border-top: 10px #606060 solid;
	border-bottom: 10px #606060 solid;
	margin-bottom: 40px;
	
    
}
div#interface header#produtosemdestaque{
	position: relative;
	text-align: center;
	font-family: 'Slabo 27px', serif;
	margin: -60px 50px 0px 70;
	left: 280;
	top: -30px;
	
	
}

img#icone{
	position: absolute;
	top:37px;

}


/*Formatting photos*/

figure.foto-legenda img{
	left: -385;
	position: relative;
    border: 8px solid white;
	box-shadow: 1px 1px 4px black;
	
}


figure.foto-legenda:hover{
	-webkit-transform: scale(1.1);
	transition: 2s;
}

/*figcaption#teste{
	border-bottom: 1px #606060 solid;
	left: -180;
	top: -280;
	text-align: center;
	position: relative;
}*/

/*Conteudo lateral */




figure.foto-legenda-lateral img{
	left: -175;
	position: relative;
	border: 4px solid white;
	box-shadow: 1px 1px 4px black;
}

figure.foto-legenda-lateral:hover{
	-webkit-transform: scale(1.1);
	transition: 2s;
}
aside#lateral{
    display: block;
    width: 490px;
    float: right;
}



div#informacoes{
	position: relative;
	padding: 5px 80px 5px 350px;
	border: 3px solid white;
	box-shadow: 1px 1px 4px black;
	margin-left: -160px;
	margin-right: 10;
	

}
div#informacoes h1{
	position: absolute;
	text-align: center;
	margin-top: -100px;
	margin-left: 80px;
	
	

}
div#informacoes-lateral{
	position: relative;
	padding: 5px 80px 5px 150px;
	border: 3px solid white;
	box-shadow: 1px 1px 4px black;
	margin-right: -350px;
	margin-left: 20px;
	margin-top: 10px;
	

}

footer#rodape{
	text-align: center;
	background-color: white;
	padding: 10px 10px 10px 10px;
	box-shadow: 1px 1px 4px black;
	margin: 40px auto 0px auto;
	font-size: 14px;
	
}


div#informacoes header{
	position: absolute;
	top: 70;
	left: 270;
	text-align: center;
	
}
div#informacoes header#artemis{
	position: absolute;
	top: 70;
	left: 330;
	text-align: center;
	
}
div#informacoes header h1#precolivroartemis{
	left: -20;
	top: 210;
	border-bottom: 1px #606060 solid;
}

div#informacoes header h1#precolivro{
	left: 30;
	top: 210;
	border-bottom: 1px #606060 solid;
}

div#informacoes-lateral header{
	position: absolute;
	top: 70;
	right: 70;
	text-align: center;
	
}
div#informacoes-lateral header h1#precolivro{
	position: absolute;
	right: 130;
	top: 100;
	border-bottom: 1px #606060 solid;
}
div#informacoes-lateral header#artemis{
	position: absolute;
	top: 70;
	left: 250;
	text-align: center;
	
}